<div class="container">
  <nav id="sidebarMenu" class="d-lg-block sidebar collapse">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <h2>Html Tags</h2>
        <div
          cdkDropList
          #moviesList="cdkDropList"
          [cdkDropListData]="orderList"
          [cdkDropListConnectedTo]="[doneMovieList]"
          class="movie-list"
          (cdkDropListDropped)="onDropTwo($event)"
        >
          <div
            class="movie-block"
            *ngFor="let order of orderList; index: i"
            cdkDrag
          >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i
            ><span
              class="list-group-item list-group-item-action py-2 ripple"
              aria-current="true"
              >{{ order }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--  -->
  <div class="form container">
    <form [formGroup]="formBuilder">
      <div class="form-group">
        <input
          type="text"
          placeholder="Enter Your Form Name"
          formControlName="formName"
          class="form-control"
        />
      </div>
      <!-- Show Elements for Sub Form -->

      <p class="text-center">Double click on Sub Form You want to edit</p>

      <div
        class="form-group container"
        cdkDropList
        #List="cdkDropList"
        [cdkDropListData]="dives"
        [cdkDropListConnectedTo]="List"
        (cdkDropListDropped)="onDropTwo($event)"
      >
        <div
          class=" w-{{ div.subFormWidth }} my-4 mx-auto"
          *ngFor="let div of dives; index as i"
          cdkDrag
          cdkDropList
          #subElement="cdkDropList"
          [cdkDropListData]="div.fields"
          [cdkDropListConnectedTo]="[subElement]"
          class="form-group"
          (cdkDropListDropped)="onDropTwo($event)"
          (dblclick)="doubleClickEdit(i)"
        >
          <h2>
            {{ div.subFormName }}
          </h2>
          <div class="border border-7 border-success">
            <div
              class="form-group border border-8 container my-4 mx-auto"
              *ngFor="let field of div.fields; index as fieldIndex"
              cdkDrag
            >
              <!-- common -->
              <div class="form-check" *ngIf="field.fieldType == '2'">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [id]="'required' + i + fieldIndex"
                  [checked]="field.isMandatory"
                  (change)="isRequired($event, i, fieldIndex)"
                />
                <label
                  class="form-check-label"
                  [for]="'required' + i + fieldIndex"
                >
                  Requird
                </label>
              </div>
              <!-- common -->
              <!-- input -->
              <div *ngIf="field.fieldType == '2'">
                <div class="form-group col-md-{{ field.size }} mx-auto">
                  <label
                    [for]="field.fieldQuestion + i + fieldIndex"
                    class="form-label"
                    ><h2>{{ field.fieldQuestion }}</h2></label
                  >
                  <input
                    [type]="field.typeInput"
                    [id]="field.fieldQuestion + i + fieldIndex"
                    class="form-control"
                  />
                </div>
              </div>

              <!-- input -->

              <div class="form-floating" *ngIf="field.fieldType == '7'">
                <h1>{{ field.fieldQuestion }}</h1>
              </div>
              <div class="form-floating" *ngIf="field.fieldType == '8'">
                <h2>{{ field.fieldQuestion }}</h2>
              </div>
              <div class="form-floating" *ngIf="field.fieldType == '9'">
                <h3>{{ field.fieldQuestion }}</h3>
              </div>
              <div class="form-floating" *ngIf="field.fieldType == '10'">
                <h4>{{ field.fieldQuestion }}</h4>
              </div>

              <!-- Paragraph -->
              <div class="form-floating" *ngIf="field.fieldType == '5'">
                <p>{{ field.fieldQuestion }}</p>
              </div>
              <!-- Paragraph -->
              <!-- Table -->
              <div *ngIf="field.fieldType == '12'">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <h2>{{ field.tableName }}</h2>
                    </tr>
                    <tr>
                      <th scope="col">#</th>
                      <th *ngFor="let col of field.columns">
                        {{ col }}
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of field.rows; let rowId = index">
                      <th scope="row">{{ row }}</th>
                      <td *ngFor="let cell of field.columns">
                        <input
                          type="checkbox"
                          *ngIf="field.fieldTableType == 'checkbox'"
                          [name]="row"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Table -->
              <!-- combo Box  -->

              <div class="form-group" *ngIf="field.fieldType == '14'">
                <label
                  [for]="field.fieldQuestion + i + fieldIndex"
                  class="form-label"
                >
                  {{ field.fieldQuestion }}
                </label>

                <select
                  class="form-select"
                  [id]="field.fieldQuestion + i + fieldIndex"
                  (change)="optionChoiceSubForm($event, i, fieldIndex)"
                >
                  <option *ngFor="let item of field.comboBoxItems">
                    {{ item }}
                  </option>
                </select>
              </div>
              <!-- combo Box  -->

              <!-- Common -->
              <button class="btn btn-primary" (click)="edit(i, fieldIndex)">
                Edit
              </button>
              <button class="btn btn-danger" (click)="deletee(i, fieldIndex)">
                Delete
              </button>
              <!-- Common -->
            </div>
          </div>
        </div>
      </div>

      <!-- Add Element -->
      <div
        cdkDropList
        #doneMovieList="cdkDropList"
        [cdkDropListConnectedTo]="[doneMovieList]"
        [cdkDropListData]="elements.controls"
        class="form-group"
        (cdkDropListDropped)="onDropOne($event)"
      >
        <div class="border border-5 p-5">Add New element</div>
      </div>
      <input
        type="submit"
        class="btn btn-success m-3"
        value="Submit Form"
        *ngIf="formBuilder.valid"
        (click)="submitForm()"
      />
    </form>
  </div>
</div>

<!-- popup for Input-->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">New Input</h2>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="formInput.hide()"
        >
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="popupInput">
          <div class="form-group mb-3">
            <select formControlName="typeInput" class="form-select">
              <option [ngValue]="item" *ngFor="let item of dropDownMenu">
                {{ item }}
                <br />
              </option>
            </select>
          </div>

          <div class="form-group form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="nameInput"
              formControlName="fieldQuestion"
              autofocus
            />
            <label for="nameInput" class="col-form-label"
              >Your Input Name</label
            >
          </div>
          <div class="form-group mb-3">
            <label for="sizeInput" class="form-label">Size:</label>
            <input
              type="range"
              class="form-range form-control"
              id="sizeInput"
              formControlName="size"
              min="1"
              max="12"
              [value]="size.value"
              step="1"
            />
            <h2>
              {{ size.value }}
            </h2>
          </div>
        </form>
      </div>
      <div class="modal-footer form-group">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End of Input popup  -->

<!-- Sub Form PopUp -->
<div
  class="modal fade"
  id="subFormPopUp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="subFormPopUpLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="subFormPopUpLabel">New Sub Form</h2>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="subFormPopUp.hide()"
        >
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="subFormData">
          <div class="form-group mb-3">
            <label for="subFormName" class="form-label"
              >Your Sub Form Name</label
            >
            <input
              type="text"
              class="form-control"
              id="subFormName"
              [value]="subFormName.value"
              formControlName="subFormName"
            />
          </div>

          <div class="form-group mb-3">
            <label for="subFormWidth" class="form-label">Width:</label>
            <input
              type="range"
              class="form-range form-control"
              id="subFormWidth"
              formControlName="subFormWidth"
              min="25"
              max="100"
              [value]="subFormWidth.value"
              step="25"
            />
            <h2>
              {{ subFormWidth.value }}
            </h2>
          </div>
        </form>
      </div>
      <div class="modal-footer form-group">
        <button type="submit" (click)="submitSubForm()" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End of Sub Form Popup -->

<!-- Add New Sub Form Element -->

<div
  class="modal fade"
  id="addNewElementPopUp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addNewElementPopUpLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="addNewElementPopUpLabel">New Element</h2>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="addNewElementPopUp.hide()"
        ></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="addNewElementForm">
          <div class="form-group">
            <button class="btn btn-success" (click)="addNewSubForm()">
              Add New Sub Form
            </button>
          </div>
          <div class="form-group">
            <div class="form-group mb-3">
              <div *ngIf="dives.length">
                <button class="btn btn-success" (click)="addNewSubElement()">
                  Add To Sub Form Whose Name
                </button>
                <p>Created Sub Forms</p>
                <select class="form-select" formControlName="subFormSelectId">
                  <option
                    [ngValue]="i"
                    *ngFor="let div of dives; let i = index"
                  >
                    {{ div.subFormName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End of Add New Sub Form Element -->

<!-- Table PopUp -->
<div
  class="modal fade"
  id="tablePopUp"
  tabindex="-1"
  aria-labelledby="tablePopUpLabel"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="tablePopUpLabel">New Table</h2>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="tablePopUp.hide()"
        ></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formTablePopUp">
          <div class="form-group">
            <label for="tableName" class="col-form-label">Table Name:</label>
            <input
              type="text"
              class="form-control"
              id="tableName"
              formControlName="tableName"
            />
          </div>
          <div class="form-group mb-3">
            <select formControlName="fieldTableType" class="form-select">
              <option [ngValue]="item" *ngFor="let item of fieldTypes">
                {{ item }}
                <br />
              </option>
            </select>

            <div class="">
              <p *ngIf="fieldTableType.value == 'checkbox'" class="form-text">
                This Means Multiple Choices in each row
              </p>
              <p *ngIf="fieldTableType.value == 'radio'" class="form-text">
                This Means Single Choices in each row
              </p>
            </div>
          </div>
          <hr />

          <!-- Columns -->

          <div class="form-group">
            <h2>Create Your Columns</h2>
            <div
              formArrayName="columns"
              *ngFor="let col of columns.controls; let i = index"
              class="columns"
            >
              <input
                type="button"
                class="btn-close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="deleteItem(i, 'col')"
              />
              <h3 (click)="editItem(i, 'col')">{{ col }}</h3>
            </div>
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              (change)="valuechange($event, 'col')"
              [value]="colName"
            />
          </div>

          <!-- note that -->
          <button
            class="btn btn-primary"
            *ngIf="editColIndex == -1"
            (click)="addItem('col')"
          >
            Add Column
          </button>

          <button
            class="btn btn-secondary"
            *ngIf="editColIndex != -1"
            (click)="addItem('col')"
          >
            Edit Column
          </button>
          <hr />
          <div class="form-group">
            <h2>Create Your Rows</h2>
            <div
              formArrayName="rows"
              *ngFor="let row of rows.controls; let i = index"
              (click)="editItem(i, 'row')"
            >
              <h3>
                {{ row }}
                <input
                  type="button"
                  class="btn-close special"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="deleteItem(i, 'row')"
                />
              </h3>
            </div>
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              (change)="valuechange($event, 'row')"
              [value]="rowName"
            />
          </div>

          <!-- note that -->
          <button
            class="btn btn-primary"
            *ngIf="editRowIndex == -1"
            (click)="addItem('row')"
          >
            Add Row
          </button>

          <button
            class="btn btn-secondary"
            *ngIf="editRowIndex != -1"
            (click)="addItem('row')"
          >
            Edit Row
          </button>

          <div *ngIf="rows.length || columns.length">
            <p>Click on the Element you want to edit</p>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="submitTable()">
          Create Table
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End Table PopUp -->

<!-- Paragraph popup -->
<div
  class="modal fade"
  id="paragraphPopup"
  tabindex="-1"
  aria-labelledby="paragraphPopupLabel"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="paragraphPopupLabel">New Text</h2>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="paragraphPopup.hide()"
        ></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="paragraph">
          <textarea
            class="form-control"
            id="floatingTextarea2"
            style="height: 100px"
            formControlName="pText"
          ></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="addPara()">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- End paragraph popup -->

<!-- ComboBoxPopup -->
<div
  class="modal fade"
  id="comboBoxPopup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="comboBoxPopupLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="comboBoxPopupLabel">New ComboBox</h2>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="comboBoxPopup.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="comboBoxForm">
          <div class="form-group mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Name Your ComboxBox"
              formControlName="comboBoxName"
            />

            {{ comboBoxName.value }}
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [value]="option"
              (change)="optionName($event)"
            />
            <button class="btn btn-primary my-3" (click)="addOption()">
              Add
            </button>
          </div>
          <div
            class="form-group"
            formArrayName="comboBoxItems"
            *ngFor="let item of comboBoxItems.controls; let i = index"
            (click)="editOption(i)"
          >
            <div class="my-3">
              {{ item }}
              <input
                type="button"
                class="btn-close special"
                data-dismiss="modal"
                aria-label="Close"
                (click)="deleteOption(i)"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer form-group">
        <button
          type="submit"
          class="btn btn-success"
          (click)="createComboBox()"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End of ComboBoxPopup -->
