<div class="container">
  <nav id="sidebarMenu" class="d-lg-block sidebar collapse">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <h2>Html Tags</h2>
        <div
          cdkDropList
          #moviesList="cdkDropList"
          [cdkDropListData]="orderList"
          [cdkDropListConnectedTo]="[doneMovieList]"
          class="movie-list"
          (cdkDropListDropped)="onDropTwo($event)"
        >
          <div
            class="movie-block"
            *ngFor="let order of orderList; index: i"
            cdkDrag
          >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i
            ><span
              class="list-group-item list-group-item-action py-2 ripple"
              aria-current="true"
              >{{ order }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--  -->
  <div class="form container">
    <form [formGroup]="formBuilder">
      <div class="form-group">
        <input
          type="text"
          placeholder="Enter Your Form Name"
          formControlName="formName"
          class="form-control"
        />
      </div>
      <!-- Show Elements for Sub Form -->

      <div
        class="form-group border border-5"
        *ngFor="let div of dives; index as i"
        cdkDropList
        #List="cdkDropList"
        [cdkDropListData]="div.components"
        [cdkDropListConnectedTo]="List"
        (cdkDropListDropped)="onDropSubElement($event, i)"
        cdkDrag
      >
        <h1>{{ div.subFormData.nameInput }}</h1>
        <!-- {{div}} -->
      </div>

      <!-- Add Element -->
      <div
        cdkDropList
        #doneMovieList="cdkDropList"
        [cdkDropListData]="elements.controls"
        [cdkDropListConnectedTo]="[doneMovieList]"
        class="form-group"
        (cdkDropListDropped)="onDropOne($event)"
      >
        <div class="border border-5 p-5">Add New element</div>
      </div>
      <!-- Show Elements for Input -->
        
    </form>
  </div>
</div>

<!-- popup for Input-->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">New Input</h2>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="formInput.hide()"
        >
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="popupInput">
          <div class="form-group mb-3">
            <select formControlName="typeInput" class="form-select">
              <option [ngValue]="item" *ngFor="let item of dropDownMenu">
                {{ item }}
                <br />
              </option>
            </select>
          </div>

          <div class="form-group form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="nameInput"
              formControlName="nameInput"
              autofocus
            />
            <label for="nameInput" class="col-form-label"
              >Your Input Name</label
            >
          </div>
          <div class="form-group mb-3">
            <label for="sizeInput" class="form-label">Size:</label>
            <input
              type="range"
              class="form-range form-control"
              id="sizeInput"
              formControlName="sizeInput"
              min="1"
              max="12"
              value="12"
              step="1"
            />
            <h2>
              {{ sizeInput.value }}
            </h2>
          </div>
        </form>
      </div>
      <div class="modal-footer form-group">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End of Input popup  -->

<!-- 
        <ng-template #Label>
          <label>Label</label>
        </ng-template>
        <ng-template #Checkbox>
          <input type="checkbox" value="checkbox" />
        </ng-template>
        <ng-template #Input>
          <input type="text" value="inputText" />
        </ng-template>
-->
