<!-- ComboBoxPopup -->
<div
  class="modal fade"
  id="comboBoxPopup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="comboBoxPopupLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="comboBoxPopupLabel">New ComboBox</h2>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="comboBoxPopup.hide()"
        >
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="comboBoxForm">
          <div class="form-group mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Name Your ComboxBox"
              formControlName="comboBoxName"
            />

            {{ comboBoxName.value }}
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [value]="option"
              (change)="optionName($event)"
            />
            <button class="btn btn-primary my-3" (click)="addOption()">
              Add
            </button>
          </div>
          <div
            class="form-group"
            formArrayName="comboBoxItems"
            *ngFor="let item of comboBoxItems.controls; let i = index"
            (click)="editOption(i)"
          >
            <div class="my-3">
              {{ item }}
              <input
                type="button"
                class="btn-close special"
                data-dismiss="modal"
                aria-label="Close"
                (click)="deleteOption(i)"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer form-group">
        <button
          type="submit"
          class="btn btn-success"
          (click)="createComboBox()"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End of ComboBoxPopup -->

<div class="container">
  <label for="GFGDataList" class="form-label">
    {{ comboBox.comboBoxName }}
  </label>

  <select class="form-select" id="GFGDataList" (change)="optionName($event)">
    <option *ngFor="let item of comboBox.comboBoxItems">
      {{ item }}
    </option>
  </select>
</div>
