<!-- <h1>Hello</h1> -->
<app-reactive-form></app-reactive-form>
<!-- <app-user-info></app-user-info> -->

<!-- <app-table-pop-up></app-table-pop-up> -->

<!-- <label for="GFGDataList" class="form-label"> Datalist </label>

<input
  class="form-control form-control-lg"
  list="GFGOptions"
  id="GFGDataList"
  placeholder="Select option"
/>
<datalist id="GFGOptions">
  <option value="HTML"></option>
  <option value="CSS"></option>
  <option value="JavaScript"></option>
  <option value="Bootstrap"></option>
</datalist>

<p><input type="text" class="border border-none" /></p>

<div class="form-outline">
  <label class="form-label" for="textAreaExample">Message</label>
  <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
</div>

<div class="md-form">
  <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
  <label for="form7">Material textarea</label>
</div> -->

<!-- Helo -->
